body {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  background: url(/assets/bg.png);
  background-size: contain;
  background-repeat: repeat;
}

a {
  color: rgb(225, 2, 2);
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header > h1 {
  text-align: center;
  letter-spacing: 0.2vw;
  font-size: 40px;
  margin: 20px;
  color: rgb(225, 2, 2);
  text-decoration: underline;
}

header > p {
  width: 50vw;
  text-align: center;
  font-size: 20px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section > h2 {
  margin: 10px;
  background-color: rgb(29, 29, 29);
  text-align: center;
  color: white;
  width: 100vw;
  padding: 5px 0 5px 0;
}

section > .article-1 {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin: 50px 0 50px 0;
}

section > .article-1 > img {
  width: 400px;
  height: 400px;
  margin-right: 100px;
}

section > .article-1 > div > h3 {
  margin-top: 0;
}

.time {
  font-size: 30px;
  color: rgb(225, 2, 2);
}

section > .article-2 {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin: 50px 0 50px 0;
}

section > .article-2 > img {
  width: 400px;
  height: 400px;
  margin-right: 100px;
}

section > .article-2 > div > h3 {
  margin-top: 0;
}

section > .article-3 {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin: 50px 0 50px 0;
}

section > .article-3 > img {
  width: 400px;
  height: 400px;
  margin-right: 100px;
}

section > .article-3 > div > h3 {
  margin-top: 0;
}

form > button {
  margin-top: 20px;
}

form > div:nth-of-type(2),
form > div:nth-of-type(3),
form > div:nth-of-type(4),
form > div:nth-of-type(5) {
  display: flex;
  width: 400px;
  margin: 10px 0 10px 0;
  justify-content: space-between;
}

form > div:nth-of-type(2) > input,
form > div:nth-of-type(3) > input,
form > div:nth-of-type(4) > input,
form > div:nth-of-type(5) > input {
  width: 50%;
}

footer {
  background-color: rgb(29, 29, 29);
  color: white;
  text-align: center;
  margin-top: 30px;
}

footer > p {
  margin: 10px;
}

footer > p:nth-of-type(2) {
  font-size: 25px;
  margin-top: 5px;
}
footer > p:nth-of-type(3) {
  font-size: 25px;
  margin-bottom: 20px;
}

footer > p:nth-of-type(3) > a {
  color: white;
  text-decoration: underline;
}
footer > p:nth-of-type(3) > a:hover {
  color: antiquewhite;
  text-decoration: underline;
}

#form {
  margin: 0 0 20px 20px;
}

form {
  font-size: 20px;
}

p > input {
  width: 200px;
  height: 20px;
}

button {
  color: white;
  background-color: rgb(225, 2, 2);
  border: none;
  font-size: 23px;
  padding: 5px 10px 5px 10px;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(29, 29, 29);
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 900px) {
 
  form > div:nth-of-type(2),
form > div:nth-of-type(3),
form > div:nth-of-type(4),
form > div:nth-of-type(5) {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 10px 0 10px 0;
  justify-content: space-between;
}

  section > .article-1 {
    flex-direction: column;
    align-items: center;
  }

  section > .article-1 > img {
    margin: 0 0 15px 0;
  }
  section > .article-2 {
    flex-direction: column;
    align-items: center;
  }
  section > .article-2 > img {
    margin: 0 0 15px 0;
  }
  section > .article-3 {
    flex-direction: column;
    align-items: center;
  }
  section > .article-3 > img {
    margin: 0 0 15px 0;
  }
}
